<div *ngIf="auth.user | async; then authenticated else guest">
</div>

<ng-template #guest>
 <h3>Howdy, GUEST</h3>
 <p>Login to get started...</p>
 <button mat-raised-button color="primary" (click)="auth.googleLogin()">
   Login using Google
 </button>
</ng-template>

<ng-template #authenticated>
 <h3 *ngIf="auth.user | async as user">Hi, {{user.displayName}}</h3>
 <img *ngIf="auth.user | async as user" [src]="user.photoURL" alt="User"><br>
 <button mat-raised-button color="primary" (click)="auth.signOut()" type="button">Log Out</button>
</ng-template>

<router-outlet></router-outlet>